# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Lab 7/Lab 7 Question 4/build/
/Lab 7/Lab 7 Question 5/nbproject/private/
/Lab 7/Lab 7 Question 5/build/
/Lab 8/Question 3/Lab 8 Question 3/build/
/Lab 8/Question 4/Lab 8 Question 4/nbproject/private/
/Lab 8/Question 4/Lab 8 Question 4/build/
/Lab 8/Question 5/Lab 8 Question 5/nbproject/private/
/Lab 8/Question 6/Lab 8 Question 6/nbproject/private/
/Lab 8/Question 7/Lab 8 Question 7/nbproject/private/
/Lab 8/Question 5/Lab 8 Question 5/build/
/Lab 8/Question 6/Lab 8 Question 6/build/
/Lab 8/Question 7/Lab 8 Question 7/build/
/Lab 3 - Flow of Control (Selection)/Lab 3/build/
/Lab 3 - Flow of Control (Selection)/Lab 3/nbproject/private/
/Lab 4 - Flow of Control (Repitition)/Lab 4/build/
/Lab 4 - Flow of Control (Repitition)/Lab 4/nbproject/private/
/Lab 4 - Flow of Control (Repitition)/Tutor's Answer/Java-Lab-master/build/
/Lab 4 - Flow of Control (Repitition)/Tutor's Answer/Java-Lab-master/nbproject/private/
/Lab 4 - Flow of Control (Repetition)/Lab 4/build/
/Lab 4 - Flow of Control (Repetition)/Lab 4/nbproject/private/
/Lab 4 - Flow of Control (Repetition)/Tutor's Answer/Java-Lab-master/build/
/Lab 4 - Flow of Control (Repetition)/Tutor's Answer/Java-Lab-master/nbproject/private/
/Lab 5 - Arrays/build/
/Lab 5 - Arrays/nbproject/private/
/Lab 7 - File IO/Lab 7 Question 1/build/
/Lab 7 - File IO/Lab 7 Question 1/nbproject/private/
/Lab 7 - File IO/Lab 7 Question 2/nbproject/private/
/Lab 7 - File IO/Lab 7 Question 3/nbproject/private/
/Lab 7 - File IO/Lab 7 Question 4/build/
/Lab 7 - File IO/Lab 7 Question 4/nbproject/private/
/Lab 7 - File IO/Lab 7 Question 5/build/
/Lab 7 - File IO/Lab 7 Question 5/nbproject/private/
/Lab 8 - Class/Question 1/Lab 8 Question 1/nbproject/private/
/Lab 8 - Class/Question 2/Lab 8 Question 2/nbproject/private/
/Lab 8 - Class/Question 3/Lab 8 Question 3/build/
/Lab 8 - Class/Question 3/Lab 8 Question 3/nbproject/private/
/Lab 8 - Class/Question 4/Lab 8 Question 4/build/
/Lab 8 - Class/Question 4/Lab 8 Question 4/nbproject/private/
/Lab 8 - Class/Question 5/Lab 8 Question 5/build/
/Lab 8 - Class/Question 5/Lab 8 Question 5/nbproject/private/
/Lab 8 - Class/Question 6/Lab 8 Question 6/build/
/Lab 8 - Class/Question 6/Lab 8 Question 6/nbproject/private/
/Lab 8 - Class/Question 7/Lab 8 Question 7/build/
/Lab 8 - Class/Question 7/Lab 8 Question 7/nbproject/private/
/Lab 9 - Inheritance/Question 1/Lab 9 Question 1/nbproject/private/
/Lab 9 - Inheritance/Question 2/Lab 9 Question 2/nbproject/private/
/Lab 9 - Inheritance/Question 4/Lab 9 Question 4/nbproject/private/
/Lab 9 - Inheritance/Question 4/Lab 9 Question 4/build/
/Lab 9 - Inheritance/Question 1/Lab 9 Question 1/build/